.Links
{
    text-align: center;
    margin-top: 40px;
    margin-left: 290px;
    margin-right: 290px;
}
.H1
{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}
.rov1
{

    margin-left: 250px;
    
}

.rov3
{
    margin-left: 250px;
    margin-top: 20px;
}

.Center
{
    
    margin-left: 290px;
    margin-right: 290px;
}

.rov4
{
    margin-left: 100px;
}
